[user]
	colors = auto

[core]
	editor = vim

[color]
	ui = true

[alias]
    s = status -sb
	get = pull origin master --no-commit
	c = commit -am
	dc = diff --check
    slog = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    remotes = remote -v
    tags = tag -l
    branches = branch -a
	d = diff
    who = shortlog -s -n --no-merges
    news = shortlog --since=yesterday
    uncommit = reset --soft HEAD^
    chekcout = checkout
    gi = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[merge]
	tool = vimdiff

[mergetool "vimdiff"]
	cmd = vim -d "$LOCAL" "$MERGED" "$REMOTE"

[push]
	default = simple
